[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pyinstaller = "*"

[packages]
keyboard = "*"

[scripts]
start = "python main.py"

[requires]
python_version = "3.8"
